format_version: 9 #声明本配置 基于哪个版本的配置解析
environments:
  testing:
    environment_variables: # 声明环境变量
      DEPLOYMENT: testing
    pipelines:
      - example-deploy-testing
      - build-testing
pipelines:
  test-build-maven-pipelines: # pipeline 名称
    group: 3U8633 # pipeline 所在分组  航司代码
    display_order: 10
    lock_behavior: none
    parameters: # list of parameters that can be configured for a pipeline
      param1: value1
    materials:
      mygit: # repo名称
        git: http://my.example.org/mygit.git # git地址
        branch: ci #分支名称
      dependencyPipeline1: # 上游依赖项目1
        pipeline: demoWarGradle # 项目名称
        stage: build #执行步骤
        ignore_for_scheduling: false #是否忽略上有变更
    stages: # list of stages in order
      - build: # name of stage
          clean_workspace:  false # 是否清楚工作空间
          jobs:
            job: # name of the job
              elastic_profile_id: java8-gradle6-pyupload #构建环境
              artifacts:
                - build:
                    source: target/
                    destination: build
                - test:
                    source: target/surefire-reports/
                    destination: test-reports/
                - test:
                    source: target/site/jacoco/
                    destination: jacoco-reports/
                - test:
                    source: target/dependency-check-report.html
              tasks: # ordered list of tasks to execute in job csharp
                - exec: # indicates type of task
                    run_if: passed
                    command: mvn
                    arguments:
                      - sonar:sonar
                - exec: # indicates type of task
                    run_if: passed
                    command: mvn
                    arguments:
                      - install
                - exec: # indicates type of task
                    run_if: passed
                    command: python
                    arguments:
                      - /home/go/uploadArtifacts.py
                    working_directory: target/